Babel==2.15.0
chardet==5.2.0
click==8.1.7
customtkinter==5.2.2
darkdetect==0.8.0
distro==1.9.0
engineering-notation==0.10.0
fontawesome==5.10.1.post1
mysql-connector-python==8.4.0
packaging==24.1
passlib==1.7.4
pillow==10.3.0
python-dotenv==1.0.1
reportlab==4.2.2
setuptools==70.1.0
tk-tools==0.16.0
tkcalendar==1.6.1
wheel==0.43.0
